<h2>Descarte e legislação no Brasil:</h2>
<p> De acordo com o artigo 33 da Lei nº 12.305/2010 (Política Nacional de Resíduos Sólidos, ou <br>
    PNRS), os fabricantes são obrigados a realizar a logística reversa dos produtos eletrônicos que<br>
    comercializam. Ou seja, é responsabilidade do proprietário encontrar o fabricante, <br>
    e o fabricante é obrigado a recolher e descartar de forma ecologicamente correta.</p>
<p> Para cumprir a legislação, as empresas devem implementar sistemas de logística reversa para <br>
    coletar e reciclar produtos eletrônicos ou descartá-los adequadamente. Da mesma forma, <br>
    a PNRS prevê sanções para empresas que descumprirem a lei e consumidores por <br>
    descumprimento da lei.</p>
<p> Desde 2010, a Política Nacional de Resíduos Sólidos (PNRS) busca organizar a forma como os <br>
    resíduos são tratados pelos setores público e privado. A lei abrange todos os materiais que <br>
    podem ser reciclados ou reutilizados, sejam eles domésticos ou industriais. A PNRS estipula <br>
    que a responsabilidade da logística reversa de alguns produtos deve ser assumida pelos fabricantes, <br>
    importadores, comerciantes e distribuidores, entre eles produtos eletrônicos, <br>
    baterias e baterias. No entanto, esse processo só pode começar com a participação efetiva dos <br>
    consumidores, que precisam se comprometer a jogar fora o produto não utilizado em local <br>
    apropriado para a devida coleta e reciclagem.</p>
<p> A logística reversa é uma importante ferramenta para a gestão de resíduos. É definido na <br>
    Política Nacional de Resíduos Sólidos como "uma ferramenta de desenvolvimento econômico e <br>
    social caracterizada por um conjunto de ações, procedimentos e meios destinados a permitir <br>
    que os resíduos sólidos sejam coletados e devolvidos ao setor comercial para <br>
    reaproveitamento em seu ciclo ou ciclo. Em outros ciclos de produção ou outras destinações <br>
    finais ambientalmente adequadas.” A promulgação da PNRS responsabiliza as empresas pela <br>
    logística reversa, eliminando os impactos ambientais e à saúde humana decorrentes do <br>
    descarte incorreto de resíduos.</p>