

<h2>Locais para descarte São Paulo</h2>

<ul>
    <h3>Zona Sul:</h3>
    <li>Parques Ibirapuera; Av. Pedro Álvares Cabral - Vila Mariana, São Paulo - SP, 04094-050</li>
    <li>Independência;  Av. Nazaré, - Ipiranga, São Paulo - SP, 04263-200</li>
    <li>Chuvisco; R. Ipiranga, 792 - Jardim Aeroporto, São Paulo - SP, 04630-010</li>
    <li>Lina e Paulo Raia; </li>
    <li>Parque Burle Marx;</li>

    <h3>Zona Oeste:</h3> 
    <li>Parque Trianon; </li>
    <li>Parque Prefeito Mário Covas;</li> 
    <li>Parque do Povo;</li>

    <h3>Zona Leste:</h3> 
    <li>Parque do Piqueri;</li> 
    <li>Parque do Carmo;</li>

    <h3>Zona Central:</h3> 
    <li>Parque Buenos Aires;</li> 
    <li>Parque da Aclimação;</li> 
    <li>Sede da Prefeitura; </li>
    <li>Sede SVMA;</li>

    <h3>Zona Norte:</h3>
    <li>Parque Vila Guilherme (Trote).</li>
</ul>
<agm-map [latitude]="lat" [longitude]="lng">
</agm-map>