<img src="../../assets/img/floresta.jpeg" alt="">
  <h1> Descarte de Lixo eletrônico </h1>

  <h2>O que é Lixo Eletrônico:</h2> 
  <p> O lixo eletrônico é o resíduo produzido pelo descarte de produtos eletrônicos que não<br>
      funcionam mais ou não são mais úteis no campo.</p>
  <p> O lixo eletrônico pode ser dividido em quatro categorias básicas, cada uma com especificações<br>
      diferentes em termos de tamanho e aplicação, que, se não tratadas adequadamente, podem <br>
      impactar negativamente o meio ambiente e, por sua vez, a saúde humana. Os processos de <br>
      coleta, transporte e técnicas de reciclagem também variam para cada categoria. Daí a <br>
      importância de gerenciar adequadamente cada um deles. São eles:</p>
  <p> <b>Equipamentos de grande porte:</b> geladeiras, freezers, máquinas de lavar, fogões, <br>
      condicionadores de ar, fornos de micro-ondas, TVs grandes, etc.</p>
  <p> <b>Pequenos eletrodomésticos e eletrodomésticos:</b> liquidificadores, aspiradores, ventiladores,<br> 
      secadores de cabelo, ferramentas elétricas, calculadoras, câmeras digitais, rádios, etc.</p>
  <p> <b>Equipamentos de informática e telefonia:</b> Computadores, Tablets, Notebooks, Celulares,<br>
      Impressoras, Monitores, etc.</p>
  <p> <b>Pilhas e bateria portáteis:</b> pilhas modelos AA, AAA, recarregáveis, baterias portáteis <br>
      de 9 V, etc.</p>
  
  <h2>Importância do descarte correto:</h2>
  <p> Em um mundo cada vez mais dominado pela tecnologia, as pessoas fabricam e consomem <br>
      cada vez mais dispositivos eletrônicos todos os dias. E uma das características desses produtos <br>
      é a curta vida útil que sempre dá lugar a versões mais modernas.</p>
  <p> Dessa forma, equipamentos desatualizados passam a ser chamados de lixo eletrônico, <br>
      incluindo monitores, computadores, telefones celulares, câmeras e impressoras. Além disso, <br>
      os ingredientes de produtos como baterias contêm produtos químicos e metais pesados <br>
      que podem contaminar o solo, as águas subterrâneas e os vegetais que comemos.</p>
  <p> A estrutura dos equipamentos elétricos e eletrônicos contém uma variedade de componentes <br>
      tóxicos. Se não manuseados adequadamente, esses resíduos podem contaminar o solo e <br>
      as águas subterrâneas, colocando em risco a saúde pública.</p>
  <p> O solo contaminado pode ser prejudicial à saúde de plantas e animais no ecossistema, e os <br>
      produtos cultivados na terra acabarão por ser contaminados;</p>
  <p> Ao atingir lagos, rios ou lençóis freáticos, os metais tóxicos oriundos do manuseio inadequado <br>
      de equipamentos eletrônicos podem prejudicar a qualidade da fauna e dos peixes da região, <br>
      tornando a água e os alimentos impróprios para o consumo;</p>
  
  <p> Quando ingeridos ou inalados, esses metais pesados podem causar danos nos nervos, rins, <br> 
      ossos, circulatórios em humanos e até mesmo pressão alta, anemia e paralisia.</p>